/* 设置网格容器的最大宽度 */
.md-grid {
    max-width: 1440px;
}

/* 设置内容区域的左右内边距 */
.md-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* 设置导航栏的宽度 */
nav.md-nav {
    width: 12rem;
}

/* 隐藏侧边栏的滚动条 */
.md-sidebar__scrollwrap {
    scrollbar-width: none;
}

/* 设置图表标题的样式 */
.md-typeset figcaption {
    font-style: normal;
    font-size: smaller;
    color: #646a73;
    max-width: 35rem;
}

/* 设置表格显示为全宽 */
.md-typeset__table,
.md-typeset__table table:not([class]) {
  width: 100%;
  display: table;
}
